@import './assets/style/helpers.scss';

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap);
}

@font-face {
  font-family: 'thiccboi-extrabold', Arial, sans-serif;
  src: url('./assets/fonts/thicccboi/Webfont/THICCCBOI-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'thiccboi-bold', Arial, sans-serif;
  src: url('./assets/fonts/thicccboi/Webfont/THICCCBOI-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'thiccboi-semibold', Arial, sans-serif;
  src: url('./assets/fonts/thicccboi/Webfont/THICCCBOI-SemiBold.woff2') format('woff2');
}

@font-face { 
  font-family: 'thiccboi-medium', Arial, sans-serif;
  src: url('./assets/fonts/thicccboi/Webfont/THICCCBOI-Medium.woff2') format('woff2');
}

@font-face { 
  font-family: 'thiccboi-regular', Arial, sans-serif;
  src: url('./assets/fonts/thicccboi/Webfont/THICCCBOI-Regular.woff2') format('woff2');
}

@font-face { 
  font-family: 'thiccboi-light', Arial, sans-serif;
  src: url('./assets/fonts/thicccboi/Webfont/THICCCBOI-Light.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'thiccboi-medium', sans-serif;
  font-weight: 400;
  color: var(--color-gray-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

.global-input {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: px(16);
  gap: px(8);
  width: 100%;
  height: var(--base-height);
  font-size: px(12);
  border: 1px solid var(--color-gray);
  outline: none;
  border-radius: 0px  px(8) px(8) 0px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  background: transparent;

  &.full-radius {
    border-radius: px(8) px(8) px(8) px(8);
  }
}

.global-input:focus {
  border: px(2) solid  var(--color-primary);
  box-shadow: 0px 0px 0px px(4) rgba(16, 24, 40, 0.05);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}